<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="com.TestComponents.Listeners"></listener>
    </listeners>


    <!-- src/test/java/com/TestComponents/Listeners.java  -->


    <test name="Submit Order Tests">
        <classes>
            <class name="com.pageTests.SubmitOrderTests">
            </class>
        </classes>
    </test>

    <test name="Error Validation Tests">
        <classes>
            <class name="com.pageTests.ErrorValidationTests"></class>
        </classes>
    </test>

    <test name=" No Product tests">
        <classes>
            <class name="com.pageTests.NoProductTests">

            </class>
        </classes>
    </test>

</suite>